[2016-07-25 17:26] CharliePoole opened #1 "Handling of TeamCity messages is different between the engine and nunitlite"
@CharliePoole commented on [Thu May 26 2016](https://github.com/nunit/nunit/issues/1524)

We need to examine whether the differences are OK before making changes.The main one is that there is no flowid used in nunitlite. There are other minor differences.

Once we determine what should be the same versus different, we may be able to implement some common code.

@NikolayPianikov We could use some c

[2016-07-25 18:06] CharliePoole opened #2 "Add possiblity to turn off TeamCity message publishing"
@martinskuta commented on [Fri Apr 29 2016](https://github.com/nunit/nunit/issues/1469)

Currently we have an issue #1432 that our build gets stuck (most probably due to reporting to Teamcity) so as a workaround we tried to turn it off, but it seems there is no way on our TC agent.

We were passing --teamcity to enable the reporting, then we encountered the issue, so we tried to remove the flag th

[2016-07-25 18:06] CharliePoole opened #3 "Add integration/regression tests to ensure compatibility with TeamCity"
@NikolayPianikov commented on [Wed Apr 22 2015](https://github.com/nunit/nunit/issues/610)

Tests to ensure nunit sends suitable service messages for general usage scenarios.

---

@CharliePoole commented on [Thu May 07 2015](https://github.com/nunit/nunit/issues/610#issuecomment-99956565)

This issue has been a kind of orphan up to now. Since it had no labels, milestone or assignee, it didn't sho

[2016-07-26 12:01] NikolayPianikov commented on #1
@CharliePoole
Yes, I am trying to reconstruct the tree to show it in build log of TC.
We produce TC messages in real time, so I should use messages for a listener.
Do you think I could rely on the implicit rule "0-1"?

[2016-07-26 12:58] NikolayPianikov opened #4 "TeamCity does not parse service messages inside errors/output of tests"
TeamCity now parses service messages inside other service messages, but only if original message was tagged with tc:parseServiceMessagesInside. Example:
## teamcity[testStdOut name='test1' out='##teamcity|[buildStatisticValue key=|'my_stat_value|' value=|'125|'|]' tc:tags='tc:parseServiceMessagesInside']

Such parsing is supported for the following types of service messages: message, testStdOut, t

[2016-07-26 13:42] #4 closed, assigned to nobody

[2016-07-26 13:48] CharliePoole opened #6 "TeamCity does not parse service messages inside errors/output of tests"
@NikolayPianikov commented on [Fri Jul 15 2016](https://github.com/nunit/nunit/issues/1672)

TeamCity now parses service messages inside other service messages, but only if original message was tagged with tc:parseServiceMessagesInside. Example:
## teamcity[testStdOut name='test1' out='##teamcity|[buildStatisticValue key=|'my_stat_value|' value=|'125|'|]' tc:tags='tc:parseServiceMessagesInside']

[2016-07-26 13:50] CharliePoole commented on #4
It's preferable to move issues between repos using zenhub, so that all the discussion is copied. I created #6 to replace this one.

[2016-07-26 14:33] CharliePoole commented on #1
It's not implicit at all. The definition of the id is <assembly id>-<test id>. This has been true for many years, even with NUnit V2. Otherwise, as you say, we could not run tests for multiple builds of the same assembly.

That said, it only gives you the assembly. To construct the entire tree on the fly, you need to have the parent id, so I think we are stuck with it.

Frankly, this is a conseque

[2016-07-27 12:19] NikolayPianikov commented on #1
Yes, I agree, but in our case an user is be able to reproduce a step of build runner locally or on an agent just from command line, without any influence from our code. Also we are trying avoid any issues with incompatibility as we discusses earlier.

[2016-07-27 15:39] CharliePoole commented on #1
True. I understand the decision now in any case.

The problem, at least up to now, has een the assumption that our command-line will be more stable than the API. OTOH, we feel pretty free to make minor command-line changes, notifying users. It's less of a problem for direct users because they know what version they are using and can simply use --help to see what options are available. It's harder

[2016-07-28 12:09] #6 closed, assigned to nobody

[2016-07-29 13:16] NikolayPianikov opened #8 "Add integration tests and setup CI"

[2016-07-29 15:21] NikolayPianikov commented on #8
@CharliePoole where can I take the last nuget packages and .zip to check an integration before any releases?

[2016-07-29 15:29] CharliePoole commented on #8
https://www.myget.org/F/nunit/api/v2

[2016-07-29 15:40] NikolayPianikov commented on #8
Thank you, but I suppose it does not contain .zip installation.
- How do you think: should we  check a version from master/other branches?
- Should we add an indicator about build status to github/NUnit?
- Did we plan to stop building teamcity-event-listener on the common CI or we will continue (to have assembly and NuGet package)? Or JetBrains should provide them?

[2016-07-29 16:10] CharliePoole commented on #8
I guess I'm surprised that you can't use the nuget package for the integration test.

If you need a zip package, you have to get it from the appveyor feed, but you should only select builds that have the suffix "-master". https://ci.appveyor.com/nuget/nunit

A build status indicator would be great. You can just do a PR for that.

"Common CI" - I don't know what you mean.

"Jetbrains should provide

[2016-08-01 12:42] NikolayPianikov commented on #8
We can use nuget packages, but .zip has another structure of directories and we could test it too. Oh sure, NUnit should continue to hold the TeamCity ext as we've discussed in our skype call.

[2016-08-01 15:31] CharliePoole commented on #8
I suggest waiting till the zip structure stabilizes after we split the repositories.

BTW... the myget and appveyor feeds no longer use "-master" as a suffix. You will now want to get packages named like `NUnit-3.5.0-dev-nnnnn`.

[2016-08-01 15:55] NikolayPianikov commented on #8
Ok
I am installing last versions of packages to test and they look like NUnit-3.5.0-dev-nnnnn

[2016-08-02 08:19] NikolayPianikov opened #10 "Add documentation"
Add readme and describe how this extension works

[2016-08-02 11:55] #3 closed, assigned to nobody

[2016-08-02 11:57] NikolayPianikov opened #11 "Support integration tests to check .zip package of NUnit"

[2016-08-02 11:58] NikolayPianikov commented on #8
About .zip I've added another issue #11

[2016-08-02 11:58] #8 closed, assigned to NikolayPianikov

[2016-08-02 13:56] NikolayPianikov commented on #1
@CharliePoole
I've looked to the code and I have some points about it:
- ITestListener is located in nunit.framework, but teamcity-event-listener depends on on nunit.engine.api only.
- How we will search extensions in .zip and NuGet? Nunitlite does not support extensibility.
- Should we add a dependency from the NUnitLite nuget package to NUnit.Extension.TeamCityEventListener? Now TeamCityEventLis

[2016-08-15 12:47] NikolayPianikov opened #12 "Add tests for --domain=Multiple"
See https://github.com/nunit/nunit/issues/1742

[2016-08-15 21:07] CharliePoole opened #14 "Erroneous TeamCity service messages with multiple test assemblies and (default) parallel execution"
@einert commented on [Mon Aug 15 2016](https://github.com/nunit/nunit/issues/1745)

When running nunit3-console.exe for a list of several (six) test assemblies and with the `--teamcity` flag, like so: `nunit3-console.exe --teamcity first.test.dll second.test.dll ... last.test.dll`, the service messages produced are incomplete. Specifically, the output does not contain more than one `testSuiteStart

[2016-08-16 08:49] einert opened #15 "Test names are aliased (different tests misreported as instances of the same test) when using long assembly names."
The following is a representative example of a test name as captured from nunit3-console output by TeamCity:
`[Deepish.Namespaces.Due.To.Established.Project.Practices.EngineeringModulinator.UnitTest.dll] Deepish.Namespaces.Due.To.Established.Project.Practices.EngineeringModulinator.UnitTest.RelatedTestsGroup.ConfigureContainer_Always_RegisterType(Deepish.Namespaces.Due.To.Established.Project.Pract

[2016-08-16 10:59] NikolayPianikov commented on #15
We have a set of issues
https://youtrack.jetbrains.com/issue/TW-44130
https://youtrack.jetbrains.com/issue/TW-10480

Also we can't change rule because backward compatibility will be broken. Try to use additional NUnit command line argument "--test-name-format". See examples:

`
[TestCase("FIXED", ExpectedResult = "FIXED")]

[TestCase("{m}", ExpectedResult = "TestMethod")]

[TestCase("{n}", Expecte

[2016-08-16 11:28] einert commented on #15
@NikolayPianikov That looks very promising, but bizarrely enough this seems to only affect the very end part of the name; the test case itself.

Running with NUnit 3.4.1 (and the --teamcity argument), in the ##teamcity service messages, the full namespace is still included regardless (and in addition to the format here).  The output is `<full namespace>.<test case formatted according to given form

[2016-08-16 12:19] NikolayPianikov commented on #15
Yes, I've checked it is not working unfortunately.
No, I think I can see it at first.

As workaround you could use this nunit wrapper, which replaces the console output:
[nunitWrapper.zip](https://github.com/nunit/teamcity-event-listener/files/420215/nunitWrapper.zip)

Just update nunit3-console.exe.config
Change the path to the correct path in the element:
`<add key="executable" value="C:\Program

[2016-08-16 13:17] einert commented on #15
OK, thanks a lot.  I will have a look and see whether this could do the trick, and whether I am able to shoehorn it into our repository structure and nuget-based setup.

[2016-08-16 15:58] CharliePoole commented on #15
@NikolayPianikov What about dropping the assembly name and using [n] instead, where n = the part of the test id that precedes the hyphen?

[2016-08-17 09:48] NikolayPianikov commented on #15
@CharliePoole  I am not sure that I understand your idea.  TC extension uses the "fullName" attribute to create message. The TC extension does not add the name of assembly directly. The TC creates full test names using 2 messages:
##teamcity[testSuiteStarted name='MyAssemblyName']
##teamcity[testStarted name='MyNamespace.TestFixture.MyTest']

So TC creates name "MyAssemblyName:MyNamespace.TestFixt

[2016-08-17 11:10] CharliePoole commented on #15
@NikolayPianikov I was not suggesting the user could do this, but that you could. I assumed the extension create the concatenated name. If TC does it then of course you can't change the format.

Regarding the test name format, the argument is only designed to change test names. It doesn't affect the name of the class.

[2016-08-17 14:15] NikolayPianikov opened #16 "Check structure and sequence of TC messages"
Now a lot of tests do not check it and it is very important for tests running in parallel.

[2016-08-22 08:52] #16 closed, assigned to NikolayPianikov

[2016-09-12 12:30] NikolayPianikov commented on #14
Fixed

[2016-09-12 12:30] #14 closed, assigned to nobody

[2016-09-12 12:31] NikolayPianikov commented on #12
Tests were added

[2016-09-12 12:31] #12 closed, assigned to NikolayPianikov

[2016-09-12 12:35] NikolayPianikov commented on #11
Done. See build configuration "NUnit Integration Tests (Src code)":
https://teamcity.jetbrains.com/project.html?projectId=NUnitTeamCityExtension&tab=projectOverview

[2016-09-12 12:35] #11 closed, assigned to nobody

[2016-09-14 08:30] NikolayPianikov opened #19 "Add integration tests which check case when TestFixture's constructor fails"
- Check TC service messages
- Check behaviour for NUnit 2 and NUnit 3 framework

[2016-09-14 11:20] #19 closed, assigned to NikolayPianikov

[2016-09-28 13:15] NikolayPianikov opened #21 "Release 1.0.2"

[2016-09-28 16:05] CharliePoole commented on #21
@NikolayPianikov We don't usually do issues for releases, since there is really nothing to say about it. Generally the milestone gives any necessary info about the purpose of the release, if necessary.

[2016-09-29 15:11] NikolayPianikov commented on #21
@CharliePoole ok, I will take note of this

[2016-10-04 09:45] #21 closed, assigned to nobody

[2016-10-06 00:10] CharliePoole opened #23 "Change API reference to released version"
The nuget reference to NUnit.Engine.API refers to a dev release on myget because there is as yet no production release of the API. Once the 3.5 engine is released, this should be changed for each extension.

[2016-10-06 07:01] NikolayPianikov commented on #23
@CharliePoole  I've checked that the extension works fine with any versions of nunit >= 3.4.1 and it does not depend on the referenced version of `nunit.engine.api.dll`. Do you think I should do it and publish new package teamcity-event-listener.dll 1.0.3 after NUnit.Engine.API will be released?

[2016-10-06 15:33] CharliePoole commented on #23
It's up to you in this case. For the other extensions, I plan to make the change because it would completely eliminate the use of the myget feed. I don't think that's true for your script.

Also, even though I'm making the change, I don't plan to do any hot-fix releases because it's only a development dependency.

[2016-10-11 08:39] NikolayPianikov opened #24 "Add integration tests to check --version and --list-extensions args"

[2016-10-14 14:59] NikolayPianikov opened #26 "Add tests for case when SetUp and TearDown methods write a text to the ouput"

[2016-10-17 06:19] #26 closed, assigned to NikolayPianikov

[2016-10-17 06:19] #24 closed, assigned to nobody

[2016-10-18 18:14] chris-smith-zocdoc opened #28 "Incorrect TC Messages when referencing NUnit 2"
NUnit.Console installed though NuGet

[code]

My example test project references NUnit 2.6.4 and has two test assemblies. The teamcity messages are outputting incorrectly, causing TeamCity to misinterpret them and display the wrong number of tests.

Example [project link](https://github.com/chris-smith-zocdoc/NunitTestExample)

Example output

[code]

Notice that all the flowId='1' despite there b

[2016-10-19 14:25] NikolayPianikov commented on #28
@chris-smith-zocdoc it looks like an issue https://github.com/nunit/teamcity-event-listener/issues/14
And it was fixed in 1.0.2. Please ensure that you are using this version. If you are using NuGet packages ensure that `packages` directory does not contain any other NUnit.Extension.TeamCityEventListener.xxx except 1.0.2

The output have to be like the following:
`D:\Downloads\NunitTestExample-mas

[2016-10-19 15:07] chris-smith-zocdoc commented on #28
@NikolayPianikov I believe I am using 1.0.2 yet am still having this issue.

I attached a debugger to nunit3-console and can see the correct version of the assembly being loaded

![image](https://cloud.githubusercontent.com/assets/2537809/19524468/de4b8b9a-95eb-11e6-905f-7f13f09cc31c.png)

This is the folder hierarchy after the nuget install

[code]

[2016-10-19 19:52] NikolayPianikov commented on #28
@chris-smith-zocdoc  I've reproduced it. Thank you.
@CharliePoole Looks like my PR https://github.com/nunit/nunit-console/pull/38 is not in the code by the some reason. And MyGet feed contains old package NUnit.Extension.NUnitV2Driver.3.5.0-dev-03211 where this issue was fixed, but NuGet NUnit.Extension.NUnitV2Driver.3.5.0 package does not contain this fix.

[2016-10-20 10:29] NikolayPianikov commented on #28
I've created the issue https://github.com/nunit/nunit-v2-framework-driver/issues/5. I am closing this issue because fixes are not needed in this extension. I am going make a fix in the https://github.com/nunit/nunit-v2-framework-driver/ repo

[2016-10-20 10:29] #28 closed, assigned to nobody

[2016-10-20 10:53] NikolayPianikov commented on #28
This is hot fix: [nunit.v2.driver.dll.zip](https://github.com/nunit/teamcity-event-listener/files/541487/nunit.v2.driver.dll.zip)

[2016-10-21 15:40] CharliePoole commented on #28
@NikolayPianikov You closed this and sent a link to a "hot fix" for one of the NUnit extensions. I'm not sure what we are supposed to do with it. Does it relate to nunit/nunit-v2-framework-driver#5?

[2016-11-01 13:48] tsibelman commented on #10
It's looks like something I could use but I do not understand how I suppose to use it. Can some one give a minimum of help ?

[2016-11-07 16:18] NikolayPianikov commented on #28
@CharliePoole Yes it relates to https://github.com/nunit/nunit-v2-framework-driver/issues/5

[2016-11-10 15:16] NikolayPianikov opened #29 "Text from Assert.Pass("text") does not appear in TeamCity build log"
For example:
`
[Test]
public void PassWithText()
{
   Assert.Pass("some text");
}
`

User should see "some text" in the build log

[2016-11-14 16:01] #29 closed, assigned to NikolayPianikov

[2016-12-05 10:33] NikolayPianikov opened #31 "Build was broken for the latest dev NUnit package"
Also it depends on
https://github.com/nunit/nunit-console/issues/142

[2016-12-05 11:05] #31 closed, assigned to NikolayPianikov

[2016-12-19 13:10] NikolayPianikov opened #33 "Builds are failed because the tests summary now contains new field "warnings""
Tests should correctly parse the tests summary.

[2016-12-19 13:47] #33 closed, assigned to nobody

[2017-02-09 13:41] tom-dudley opened #35 "Test arguments with double quote string has 'No suite' in Teamcity Test tab"
I'm not entirely sure if this falls under the remit of this project or not, so apologies if it doesn't. I can't find the correct Jetbrain project though. Perhaps @NikolayPianikov could advise?

I have some tests being run via Teamcity which use a char array as the TestCaseSource to a test resulting in BuildLog output like:

which is all fine, however the second test does not get pulled into the Te

[2017-02-09 14:02] tom-dudley commented on #35
Looks like I jumped the gun a bit on this. The second test is included, but it is considered to have 'No suite' and so is not grouped with the others.

[2017-02-09 15:20] NikolayPianikov commented on #35
@tom-dudley Thank you for information, I will check these cases

[2017-02-09 22:15] rprouse opened #36 "[Teamcity] Broken characters encoding in tests result output."
@cezarypiatek commented on [Wed Feb 08 2017](https://github.com/nunit/nunit-console/issues/176)

After migrating our tests from NUnit 2.5.3 to NUnit 3.6 Teamcity starts to display test results with invalid characters set. Sometimes we are using polish characters in test names and until now everything was displayed correctly. For example

previously:
[code]
now:
[code]

We are using TeamCity 9.1.1

[2017-02-10 11:29] NikolayPianikov commented on #35
@tom-dudley, what versions of TeamCity and NUnit were used?
TeamCity has an [UI issue](https://cloud.githubusercontent.com/assets/11720017/22825194/da940440-ef9c-11e6-99b8-f547b209c98c.png) related to a tests reporting for tests containing some symbols like a " ) ]
It is my [mock assembly](https://github.com/nunit/teamcity-event-listener/files/766504/mocks.zip) with tests. But number of tests shou

[2017-02-10 13:27] NikolayPianikov commented on #36
The nunit console uses Encoding.Default codepage to write a text to stdOut by default and TeamCity gets this text from stdOut. Encoding.Default depends on your "Regional Settings" (for programms that do not support Unicode). The Unicode related text might be corrupted if the nunit console or other applications try writing using the OS code page. So you have several options:
1. Change this settings

[2017-02-10 14:12] cezarypiatek commented on #36
@NikolayPianikov I've tried solution 2 and 3 and it has no effect. Additionally when I add Console.OutputEncoding = Encoding.UTF8 to my UT it fails when I run tests in Visual Studio with Resharper Test Runner (it throws null reference exception)

[2017-02-10 15:27] NikolayPianikov commented on #36
@cezarypiatek oh, I forgot to note, TeamCity should use the same encoding. So try adding the configuration parameter "teamcity.runner.commandline.stdstreams.encoding=UTF-8" to your TeamCity project/configuration to specify encoding

[2017-02-10 16:03] cezarypiatek commented on #36
@NikolayPianikov adding configuration parameter in TeamCity solved the problem. So thank you for your help.
 It would be very helpful if  somebody could add --encoding=utf-8 parameter to NUnit Console documentation https://github.com/nunit/docs/wiki/Console-Command-Line (This parameter is missing in the options list)

[2017-02-10 19:32] CharliePoole commented on #36
@cezarypiatek I updated the docs. Thanks for calling it to our attention.

[2017-02-11 13:12] s-tarasov commented on #36
Thanks!

[2017-02-14 11:58] #36 closed, assigned to nobody

[2017-02-20 12:03] tom-dudley commented on #35
@NikolayPianikov Your UI image looks to be exactly what I'm describing. The test count is correct, it's just not grouped correctly. I'm running 9.1.5 (37377)

[2017-06-02 10:16] danielwertheim opened #39 "TeamCity v10 not picking up tests"
When moving to another TeamCity server v10 instead of v9.1.1, no NUnit tests/testresults are picked up anymore. I'm not generating any XML results, but relying on the service messages in the "runner" and TeamCity.

The tests are executed and all and I can see the summary output in the build log, but the tests aren't reported anywhere else. If I compare the output for the tests with the old build s

[2017-06-02 14:18] danielwertheim commented on #39
Also tried excluding the extension as that shouldn't be needed in that console version.

[2017-06-02 14:37] CharliePoole commented on #39
There is no version of nunit3-console that handles teamcity messages without the extension. The difference is in the packaging. NUnit.Console brings in a number of extensions. NUnit.ConsoleRunner does not. Specifying exactly the extensions you need is the future-proof way to go, since packaging can change.

[2017-06-02 15:43] danielwertheim commented on #39
Then maybe the description should be clarified: https://www.nuget.org/packages/NUnit.Console/3.6.1 states:

[code]

Even so, it fails with the extension in place.

[2017-06-02 16:23] CharliePoole commented on #39
As I said, NUnit.Console package does include the extensions - there's nothing to correct in the description. But I thought you indicated you were using NUnit.ConsoleRunner package.

In any case, I was only addressing your comment about different versions of the console doing different things. I don't work on the teamcity extension, which is your main issue, I'll let somebody else handle that.

BT

[2017-06-05 07:41] danielwertheim commented on #39
@CharliePoole I have verified that the extension is enabled using the switch you mentioned.

Could be issue with CakeBuild NUnit integration. The spec does not have all these `*******` in it:

[code]
vs

[code]

from: https://confluence.jetbrains.com/display/TCD10/Build+Script+Interaction+with+TeamCity#BuildScriptInteractionwithTeamCity-ReportingTests

[2017-06-05 10:19] danielwertheim commented on #39
Verified to work in TC 10.0.5, closing.

[2017-06-05 10:19] #39 closed, assigned to nobody

[2017-06-10 00:18] CharliePoole opened #40 "Add Nikolay to the Copyright"
@NikolayPianikov
I originally wrote the code that was part of the engine for issuing TC messages. Then I extracted it and created the first version of the extension. As a result the copyright is in my name.

You have done most of the work for quite a while and that's what we expect to see in the future. I'd like to revise the copyright to list both of us. Would that be OK with you?

I don't know w

[2017-06-11 09:55] NikolayPianikov commented on #40
@CharliePoole it is ok for me, but I will discuss it with team, give me PR please

[2017-06-14 10:00] NikolayPianikov commented on #40
@CharliePoole I've discussed this question with colleague whos are responsible for similar questions, so it is preferable for us to use JetBrains in copyrights, because it's fair, if it is possible. If it is not, it will be ok for me if you will be one person mentioned in these copyrights.

[2017-06-14 15:51] CharliePoole commented on #40
@NikolayPianikov Too bad. I had hoped to share it with you.

I guess that means your work is "for hire" (US term) by Jetbrains. I personally know that you are allowed to make this contribution to NUnit because of a meeting we had, but at some time, the project may want to get a contribution agreement signed - we don't yet have one.

I'm not willing to share the copyright with a for-profit company

[2017-06-14 15:52] #40 closed, assigned to nobody

[2017-08-02 16:42] CharliePoole opened #41 "Integrate chocolatey package with the build script"
A Chocolatey package now exists for the extension, having been created using the binaries from the 3.5 release. We need to now integrate the creation of the package with the build script for the extension.

See nunit/nunit-console#253 and nunit/nunit-project-loader#8 for more info.

[2017-08-02 16:48] CharliePoole commented on #41
@NikolayPianikov My default assumption is that it will be done just like the others, but since you are the maintainer of this package, it's basically up to you. The main points of the implementation as I have done it elsewhere are as follows:

1. There are no nuspec files. Instead the nupkg is generated in the cake script. This allows constants to be used so that both packages (nuget and chocolate

[2017-08-02 18:59] NikolayPianikov commented on #41
@CharliePoole Common approach is better from my point of view. But just for reflection, we could think about how it works for the VS 2017 project model and targets, I mean `dotnet pack` or `msbuild /t:pack` and so on

[2017-08-02 19:11] CharliePoole commented on #41
@NikolayPianikov I'm currently building all the extensions in VS2015. Probably the best way to deal with this is for me to get in my basic changes and then have you review and suggest more steps. If we do more, it will eventually be migrated back to the other extensions.

I tried to build and it failed. You are referencing a CI build of the 3.5.0 engine API that no longer exists. I'll change the r

[2017-08-02 19:33] CharliePoole commented on #41
@NikolayPianikov Regarding the VS2017 model, it seems that the Cake nuget and chocolatey commands are supposed to hide that from us - i.e. it should work for both versions of VS transparently. But we may need to update the version of Cake you are using.

[2017-08-02 19:36] CharliePoole commented on #41
@NikolayPianikov Do you normally have a failure on the Travis CI build?

[2017-08-03 18:29] #23 closed, assigned to CharliePoole

[2017-08-03 18:32] NikolayPianikov commented on #41
@CharliePoole sometimes when tests check agent's processes they are still in memory :(

[2017-08-09 13:01] #41 closed, assigned to CharliePoole

[2017-08-09 17:06] CharliePoole commented on #41
Should we do a new release? If so, what should be the version number?

The version could be either 1.0.3 or 1.1.0. Since you have a 1.0.3 milestone, I added it there but we could change it. There is already a 1.0.2 chocolatey package that I created using the same binaries as the 1.0.2 nuget package, so it could wait till you are ready to do a new release. Once you release, then it's up to the engi

[2017-08-10 09:57] NikolayPianikov commented on #41
We haven't done any significant changes, so I think the new release is not needed. What I should do to use current version of extension?

[2017-08-10 14:40] CharliePoole commented on #41
Not sure what you mean by "what should I do".

Users can download the current release (1.0.2) from either nuget or chocolatey. It will also be incluced in the new nunit-console-with-extensions chocolatey package when I release it.

If you create a new release of the extension and you want it to be included in the next release of the package by the engine team, then you would create an issue on the

[2017-08-31 07:19] flcdrg opened #47 "Support testStdErr"
It might be useful to support TeamCity's `testStdErr` service message for errors.

[2017-10-20 15:45] NikolayPianikov opened #48 "Broken tests for Parallelizable"

[2017-10-21 06:56] #48 closed, assigned to NikolayPianikov

[2017-10-26 09:45] NikolayPianikov opened #49 "Add stack trace to tests' details of TeamCity service messages when tests fail during TestFixture SetUp/TearDown"

[2017-10-26 12:41] #49 closed, assigned to NikolayPianikov

[2017-10-26 13:11] NikolayPianikov commented on #47
@flcdrg unfortunately it is not possible for the current version of NUnit, but as workaround you could use [this approach](https://github.com/JetBrains/TeamCity.VSTest.TestAdapter). I've created [this issue](https://github.com/nunit/nunit-console/issues/305)

[2017-11-07 12:12] ChrisMaddock commented on #47
The relevant change will now be in NUnit 3.9, thanks to @MhdTlb! 😄

[2017-12-04 17:09] NikolayPianikov opened #51 "Add stack trace to tests' details of TeamCity service messages when tests fail during TestFixtureSetUpAttribute for NUnit framework 2"

[2017-12-04 17:45] #51 closed, assigned to NikolayPianikov

[2017-12-22 12:19] NikolayPianikov opened #52 "Output for OneTimeSetUp/FixtureTeardown/OneTimeTearDown/TestFixtureTearDown should be sent as TeamCity service messages"

[2018-04-26 10:36] Gargony opened #53 "Use TeamCity parent flow Id"
The TeamCity provide the main process flow id in environment variable "TEAMCITY_PROCESS_FLOW_ID"
Please use this value as parent if it is a top event.
https://github.com/nunit/teamcity-event-listener/blob/master/src/extension/TeamCityEventListener.cs : 106
use
`var flowId = Environment.GetEnvironmentVariable("TEAMCITY_PROCESS_FLOW_ID"); `
instead of
`var flowId = ".";`

[2018-05-29 09:28] YRudievGP opened #54 "TeamCity does not interrupt NUnit test run"
Tests are not stopped if cancel TeamCity run.

**Steps to reproduce:**
1. Run TeamCity test run with NUnit tests
2. When tests are started executing, cancel test run (press " stop build" button)

**Result:**
Tests are continued executing.

**Additional information:**
It is actually for UI and backend tests.

**In use:**
.Net framework netcoreapp2.0
NUnit 3.10.1
NUnit.ConsoleRunner 3.8.0
NUnit.Runn

[2018-05-29 09:55] CharliePoole commented on #54
The team city event listener does only what it's name suggests. It listens for events from NUnit and reports them to TeamCity. If this is actually a problem with some other part of nunit (like the console runner, engine or framework) we can move the issue there. However, it sounds to me like a TeamCity issue rather than an NUnit one.

@NikolayPianikov Where do you think this should be handled?

[2018-05-29 22:22] NikolayPianikov commented on #54
@CharliePoole this issue is not related to teamcity-event-listener
@YRudievGP could you create it [here](https://github.com/JetBrains/teamcity-dotnet-plugin) please?

[2018-05-30 07:15] YRudievGP commented on #54
Thanks guys for the reply.

@NikolayPianikov I've created the issue in dotnet-plugin project. There is a link https://github.com/JetBrains/teamcity-dotnet-plugin/issues/125

This issue can be closed.

[2018-05-30 09:25] NikolayPianikov commented on #54
Fixed

[2018-05-30 09:25] #54 closed, assigned to nobody

[2018-06-18 09:42] #52 closed, assigned to nobody

[2018-08-31 13:26] NikolayPianikov opened #56 "Running NUnit3 multiple times results in test being categorized as "<no suite>""
Originally from https://youtrack.jetbrains.com/issue/TW-56310

[2018-08-31 15:16] #56 closed, assigned to NikolayPianikov

[2018-09-03 11:02] #53 closed, assigned to NikolayPianikov

[2018-09-05 07:40] #47 closed, assigned to nobody

[2018-10-11 13:10] aw129 opened #61 "'message' attribute used instead of 'text' attribute on "message" service message"
When we upgraded to version 1.0.4 we started getting the following warnings in our build output:

[code]

Looking at the [TeamCity documentation](https://confluence.jetbrains.com/display/TCD18/Build+Script+Interaction+with+TeamCity) the `message='...'` should be `text='...'`, e.g.

[code]

I believe the issue is in ServiceMessageAttr.cs:

[code]

[2018-10-12 14:22] NikolayPianikov commented on #61
@aw129 thank you for info. The issue was fixed. Try using [this package](https://www.nuget.org/packages/NUnit.Extension.TeamCityEventListener/1.0.5-beta)

[2018-10-12 14:22] #61 closed, assigned to NikolayPianikov

[2018-10-12 16:08] aw129 commented on #61
@NikolayPianikov we've tried that package and the messages come through into the team city log without issue.
Thanks the for really quick turn around on this.

[2018-11-16 12:43] Sharken03 opened #62 "Running multiple nunit console runner processes"
The situation is that we have a TeamCity installation, where we start multiple NUnit 3 Console Runner in order to reduce time to test assemblies. TeamCity service messages are enabled through the --teamcity parameter and the test assemblies are built against the NUnit 2 Framework.

In order to separate live output from the runners, TeamCity uses the FlowId. The problem is with EventConverter2.cs w

[2018-11-16 14:03] NikolayPianikov commented on #62
@Sharken03 Thanks for info. I've reproduced it. I found simple solution. Will be fixed soon

[2018-11-19 10:53] NikolayPianikov commented on #62
@Sharken03 try using this [package](https://www.nuget.org/packages/NUnit.Extension.TeamCityEventListener/1.0.6-beta)

[2018-11-19 10:53] #62 closed, assigned to NikolayPianikov

[2018-11-21 08:01] Sharken03 commented on #62
@NikolayPianikov
Thank you, i have tried the package referred and as far as NUnit 2 goes, i would say it works perfectly.

I am a bit concerned that NUnit 3 could cause problems, as i do not see a way of controlling Flowid using TEAMCITY_PROCESS_FLOW_ID. But if a problem should appear, i will be open a new issue.

[2018-11-21 08:49] NikolayPianikov commented on #62
@Sharken03 NUnit 3 should work as expected here. The root flow id is received from an [environment variable](https://github.com/nunit/teamcity-event-listener/blob/d214c1ce5338ac5bdc45c2e8110ea0b22167917c/src/extension/TeamCityEventListener.cs#L63) and it is used [here](https://github.com/nunit/teamcity-event-listener/blob/d214c1ce5338ac5bdc45c2e8110ea0b22167917c/src/extension/EventConverter3.cs#L5

[2018-12-07 14:54] NikolayPianikov opened #63 "Supporting test artifacts and test metadata"
Related [issue](https://github.com/nunit/nunit/issues/1670)

TeamCity 2018.2 + supports test metadata, i.e. images, statistics. Previous versions support artifacts publishing.

This code

[code]

will attach artifacts to TeamCity test for TeamCity 2018.2 + and just will add artifacts for previous versions.

Also it is possible to specify artifact location in the TeamCity for later use

[code]

or

[2019-02-20 12:06] Sharken03 commented on #62
@NikolayPianikov
Not sure if this warrants reopening the issue, but something is behaving different when using FlowId.
The same test now shows up twice in TeamCity and it is related to how the NUnit Console output is parsed by TeamCity.

The test has not been moved from the test assembly where it resides.
But the suite name is different for the test in two different builds.
One build uses two elem

[2019-02-20 12:42] NikolayPianikov commented on #62
@Sharken03
To check this issue you could run tests from the command line with the arg `--teamcity` and check tests' names. But anyway, is it possible to share a simple solution on github reproducing this issue? What version of TeamCity is installed?

[2019-02-20 14:34] Sharken03 commented on #62
The TeamCity version is 2018.2.2.

I have tried to run with --teamcity and am seeing ##teamcity[testSuiteStarted name='X.Y' flowId='1.1'], where X.Y is the start of the test namespace.
For other test suites i see ##teamcity[testSuiteStarted name='some_assembly.dll' flowId='1.1'].

It could be related to the naming of our test assemblies, we use a mix of either underscores or dots, such as 'my_test

[2019-02-20 15:25] NikolayPianikov commented on #62
@Sharken03  You're right. I will try to understand where it is better to fix, I mean nunit extension or in the TeamCity core.

[2019-02-21 11:11] Sharken03 commented on #62
That sounds great, if something needs to be tested just let me know.

[2019-02-21 15:18] NikolayPianikov commented on #62
@Sharken03 Is it possible to share current stdOut for case 'X.Y' and for case 'some_assembly.dll' with the arg `--teamcity`? I do not want to miss any details and I'd prefer to create some regression tests on these cases. You could use my email to sent info. Thank you in advance.

[2019-02-22 13:43] Sharken03 commented on #62
@NikolayPianikov I might be able to put something together, i guess you would need both result file output and output from using --teamcity.
Is there a secure way to send the logfiles ?

[2019-02-22 16:50] NikolayPianikov commented on #62
@Sharken03 just attach files to [this ticket](https://youtrack.jetbrains.com/issue/TW-59329) in the comment visible to JetBrains team only

[2019-02-25 07:45] Sharken03 commented on #62
@NikolayPianikov Have attached sample output now.

[2019-03-06 15:15] #63 closed, assigned to NikolayPianikov

[2019-03-06 15:17] NikolayPianikov opened #65 "The suite name is different for the test in two different builds for NUnit tests"
Originally [from](https://youtrack.jetbrains.com/issue/TW-59329)

[2019-03-19 14:48] #65 closed, assigned to NikolayPianikov

[2019-03-19 14:49] NikolayPianikov opened #66 "Use process ID as a root flow id if the root flow id environment variable (TEAMCITY_PROCESS_FLOW_ID) was not specified"
It would be better to simplify this scenario when somebody runs tests via a custom script using several processes.

[2019-03-20 08:10] #66 closed, assigned to NikolayPianikov

[2019-03-20 09:54] NikolayPianikov opened #67 "Support suite patterns"
In cases when there are assemblies like 'x86\abc.dll', 'x64\abc.dll', 'net45\abc.dll' or 'netcoreapp2.2\abc.dll' and so on and suite tests should be treated as different tests we should have the environment variable `TEAMCITY_NUNIT_SUITE_PATTERN` to change the reporting suite names.
For instance we could set an environment variable:
`SET TEAMCITY_NUNIT_SUITE_PATTERN=x86_{n}` for x86 tests and
`SET

[2019-03-20 09:58] NikolayPianikov commented on #67
Replacements:
{n} - default suite name (for instance `abc.dll`)
{a} - assembly name (default suite name without extension,  for instance `abc`)

[2019-03-20 12:38] #67 closed, assigned to NikolayPianikov

[2019-05-24 10:31] chrisgeorge0911 opened #68 "Colon's in testcase data are replaced with <space> in the Teamcity service messages"
Nunit 3.11 / Nunit console 3.10

Having a simple parameterised testcase such as

[code]

Runs fine, but with --teamcity, the resulting teamcity service messages look like:

[code]

Notice the lack of colon's in the test1 lines.

This becomes a problem when there are other parameterised tests that actually pass a space, because teamcity underreports the number of issues as they are not unique.

[2019-05-24 13:09] CharliePoole commented on #68
This is likely to be a bug in the teamcity extension but to be sure, can you tell us what the name of the test case is in the XML result?

[2019-05-30 22:28] ChrisMaddock commented on #68
Below is an output from the latest console/teamcity extension which outputs both the NUnit Console's labels, and the TeamCity messages. From this, the problem appears to lie in the teamcity extension - I'll transfer this issue over shortly. 🙂

[code]

[2019-06-03 13:29] NikolayPianikov commented on #68
@chrisgeorge0911 unfortunately I have to replace the colon symbol because of TeamCity treats it as a delimiter of an assembly name and a test class/method name. As alternative I could replace it by '%3A' for instance. But in your test report you will see the line like `Tests.Test1("test1","%3A")`. Or I could add a parameter to specify a replacement string.

[2019-06-03 14:10] chrisgeorge0911 commented on #68
@NikolayPianikov  how about replacing ":" with "\<colon\>"?  My worry with "%3A" is that its more likely to be used as a parameter along with specifying the actual ":" character.  "\<colon\>" is very unlikely to be used as a parameter, but would still uniquely identify that particular test case.

[2019-06-03 15:07] NikolayPianikov commented on #68
@chrisgeorge0911 Ok, I will add the environment variable to specify the value for this replacement and by default it will be "<colon>". Thank you

[2019-06-05 09:48] chrisgeorge0911 commented on #68
Sounds great 👍  thanks

[2019-06-13 16:07] NikolayPianikov commented on #68
Fix will be available in NUnit.Extension.TeamCityEventListener 1.0.7

[2019-06-13 16:07] #68 closed, assigned to NikolayPianikov

[2019-08-09 15:05] oskarb opened #70 "Some test failures not detected by Teamcity (no output from NUnit)"
Nunit console 3.10. Some test failures are reported in the output from each test as each test finishes but failures from other test cases are only reported in the summary at the end after all tests have finished. Parallel execution not used. Failures that are only reported in the summary causes Teamcity to not detect these failures.

The failures that are reported for each affected test case actua

[2019-08-09 15:46] CharliePoole commented on #70
Make sure you have the latest version of the teamcity extension for NUnit, 1.0.6.

[2019-08-09 16:03] CharliePoole commented on #70
@ChrisMaddock It seems like it would be useful if the `--list-extensions` option gave the version of each extension present.

[2019-08-09 22:09] oskarb commented on #70
Hmm, an interesting suggestion. I have the latest version of Teamcity (currently 2019.1.2 (build 66342)) and I have used its Tools menu to have TC itself download and install NUnit Console 3.10. I can verify that this in fact seems to not have installed the latest version of the teamcity extension, but instead uses 1.0.4.

[2019-08-09 23:02] CharliePoole commented on #70
It's likely that 1.0.4 was the latest version available at the time 3.10 was released. When a new version of NUnit.Console is released, it will include the latest available extensions, but you can also update them yourself at any time.

[2019-08-10 08:27] oskarb commented on #70
1.0.6 is in fact marked as being released 4 days before 3.10, and the NUnit console Nuget package depends on 1.0.6 but it seems to have not been updated in the zip-file. With the way it's setup in teamcity it doesn't really seem like I am supposed to have to fiddle with the extensions dll manually, but I guess I could try it just to see if it makes a difference. Not sure where to find it though -

[2019-08-10 08:37] oskarb commented on #70
Actually it's even more messed up.

When I download this package from nuget:
nunit.extension.teamcityeventlistener.1.0.6.nupkg

The file and product version of the teamcity-event-listener.dll:
1.0.4.0

It seems likely that the DLL contents is correct but the version number has not been updated properly. @NikolayPianikov

I've compared to the extension DLL from the console zip-file, and also to the

[2019-08-10 08:42] oskarb commented on #70
@NikolayPianikov PR to correct version number in AssemblyInfo.cs (just a temporary solution to raise awareness): https://github.com/nunit/teamcity-event-listener/pull/69

[2019-08-10 14:41] CharliePoole commented on #70
@ChrisMaddock Shouldn't this be transferred to the extension project?

[2019-08-10 15:53] ChrisMaddock commented on #70
Yep, I agree. @oskarb - it looks like the console is reporting correctly here, and the issue is instead with the TeamCity Extension. I'll move this over now, @NikolayPianikov can always move it back if we have reason to believe otherwise.

[2019-08-12 15:46] oskarb commented on #70
@NikolayPianikov Further experiments suggest that failures are not reported in Teamcity for tests where the standard output from the test doesn't end with a new line. In this case, the testFailed TC service message is tacked on to the end of the last line of test output and it seems this might make Teamcity miss them - though when looking at the build log in TC the service message is not visible t

[2019-08-13 08:43] NikolayPianikov commented on #70
@oskarb Could you share some simple solution to reproduce this issue, also please share actual and expected results for this solution.

[2019-08-13 09:09] oskarb commented on #70
@NikolayPianikov

The expected result is that TC will report 6 failed tests for the following code snippet. The actual result is that only TestsWithErrorInOneTimeSetup_WithStdOut.Test1 is reported as failed in TC GUI. The buildlog will say in the NUnit summary that all of them failed. Tests are run using the NUnit TC build step.

If the four Console.Write are commented out, TC will correctly repor

[2019-08-13 13:35] NikolayPianikov commented on #70
@oskarb Now the issue is reproducing. Thank you very much

[2019-08-16 14:15] NikolayPianikov commented on #70
@oskarb If you have TeamCity 2019 installed try updating [plugin](https://drive.google.com/open?id=1USxeI6mwv4ji0-Sy3B8crYYuCbGLvFHs)

[2019-08-21 17:48] oskarb commented on #70
@NikolayPianikov I've tried the patched plugin and both the test cases I posted above to reproduce and the actual currently failing test cases now seem to be reported correctly. Thanks!

[2019-08-22 07:10] schuettecarsten commented on #70
Do you release the plugin update for the public?

[2019-08-22 08:25] NikolayPianikov commented on #70
@schuettecarsten it will be available in the next patch release 2019.1.x and in the EAP 2019.2. Also you could install from the link above, it was built as a part of 2019.1.x and passed all tests

[2019-08-22 08:26] #70 closed, assigned to nobody

[2019-09-26 18:26] NikolayPianikov opened #71 "Unicode symbols were not escaped within TeamCity service messages"

[2019-09-26 18:32] #71 closed, assigned to nobody

[2019-10-22 18:02] abelbraaksma commented on #68
For reference, as this isn't currently anywhere on the net, the environment variable you can use to override the default `<colon>` is `TEAMCITY_COLON_REPLACEMENT`.

[2019-10-22 18:21] abelbraaksma opened #72 "Alternatives for colon replacement, which presently alters all testnames and history"
I'm aware of the resolved issue #68, but I'm not sure this should have gone live without a fair warning ahead, as in TeamCity, where this is typically used, this can have quite a visible impact and it effects the counting of tests (it shouldn't, but afaik TC + NUnit is not capable of distinguishing equal-named tests).

We have now three possible versions:

* Without replacement (v1.0.2)
    * no d

[2019-10-29 20:00] NikolayPianikov commented on #72
@abelbraaksma Thank you for your ideas. Solution 2 looks nice from my point of view. I will add variables and their descriptions to readme file.

[2019-10-29 23:23] abelbraaksma commented on #72
I just notice that that character doesn't render on Chrome on Android. Though I doubt many people run TC from Android.

(2) is easy to do, I guess, though for the long term I'd opt for solution (1). Not sure if it's hard or easy to implement though.

Thanks for looking into this :).

[2020-01-14 09:03] Vorval0 commented on #72
We are using TeamCity in the following scenario: `failedTestName` have failed in TC → get failed test names by TC  API → pass `--where test==failedTestName` into rerun of the build configuration. Replacing `:`  to anything breaks our scenario as NUnit can't find the `failedTestName` after modification.

I am aware of  the `Retry Attribute` but it is not fit for our needs.

[2020-01-14 15:51] abelbraaksma commented on #72
@Vorval0, this replacement is already active in the current TC listener. If you don't have problems now, you won't get problems later.

This proposal is about making the default more predictable,it currently is the string `<colon>`. With or without this change, you always have the `TEAMCITY_COLON_REPLACEMENT` that you can use. Set it to `:` and you'd be good.

[2020-01-14 16:02] abelbraaksma commented on #72
Btw, the bug is with TC, which uses the colon as separator. Only when you have colons in the test name, TC screws up and reports it wrongly (see linked big report). Without the listener fixing this, you would get wrong data from the TC api anyway. It has nothing to do with NUnit, a name is a name, this doesn't affect that.

If your current setup works, you probably don't have colons in your test n

[2020-02-28 08:07] NikolayPianikov opened #73 "Add an environment variable to suppress parsing TeamCity service message from NUnit events"
Environment variable name: `TEAMCITY_SUPPRESS_PARSING_INSIDE`
Value: Semicolon separated list of [TeamCity message names](https://www.jetbrains.com/help/teamcity/build-script-interaction-with-teamcity.html#BuildScriptInteractionwithTeamCity-ServiceMessages) (testStdOut;testStdErr;testFailed;testIgnored...) to suppress parsing TeamCity messages inside these messages

[2020-02-28 08:13] #73 closed, assigned to NikolayPianikov

[2020-05-21 08:33] samcook opened #74 "Encoding related error since upgrading to nunit-console 3.11.1"
Hi,

I'm running a set of nunit tests on Teamcity 2020.1 (build 78475).

Everything was working fine using nunit-console 3.10.0, but I've updated to nunit-console 3.11.1 and now I'm getting the following error while running a test case with some non-ASCII characters (`Øçtanüŵ`) in the test data.

[code]

The TC server logs contain the following details:
[code]

Maybe related to #71?

I've tried ad

[2020-08-25 00:59] rprouse commented on #74
@NikolayPianikov any thoughts on this?

[2020-08-28 08:19] NikolayPianikov commented on #74
@rprouse I missed it. @samcook Sorry for delay, I will try to reproduce

[2020-12-05 17:18] gokhanercan commented on #74
**Edit:** After spending a couple of hours, I found out that my case is not directly related to I/O or streams. Somehow TeamCity ignores CultureInfo instances I set on the fly. That is way more interesting. Sorry to bother. https://stackoverflow.com/questions/4732805/wrong-currentculture-when-running-an-nunit-test-in-teamcity/65161987#65161987

[2020-12-14 10:58] duck-dot-net opened #76 "Failed to load netstandard.dll on net462 environment"
After 1.0.8 release nunit console fails with "Could not load file or assembly 'netstandard, Version=2.0.0.0, ..." on Windows 2012R2 build agent with .net Framework 4.6.2.
Fuslog shows that calling assembly is teamcity-event-listener 1.0.8.0 and that it's not possibile to locate netstandard.dll file in ConsoleRunner nor EventListener directories.

Using ConsoleRunner 3.11.1 called from cake.

[2020-12-17 13:28] NikolayPianikov commented on #76
Depends on:
https://github.com/nunit/nunit-console/issues/842
https://github.com/nunit/nunit-console/issues/843
https://github.com/nunit/nunit-console/issues/844

[2020-12-17 14:56] NikolayPianikov commented on #76
@duck-dot-net please try updating the file like "NUnit.Extension.TeamCityEventListener\1.0.8\tools\.addins":
[code]

[2020-12-17 15:30] duck-dot-net commented on #76
@NikolayPianikov still the same error

[2020-12-17 15:46] NikolayPianikov commented on #76
@duck-dot-net please remove netstandard2.0/

[2020-12-18 07:37] duck-dot-net commented on #76
@NikolayPianikov with .addins file:
[code]
works fine.

[2020-12-18 11:36] NikolayPianikov commented on #76
@ChrisMaddock looks like _ExtensionSelector.IsBetterVersionOf_ works wrong for this case.

There are 2 assemblies _net20_ and _netstandard2.0_ and _ExtensionSelector.IsBetterVersionOf_ selects a version by _TargetFramework.FrameworkVersion_. For _net20_ it is __2__ and for _netstandard2.0_ it is __4__. Thus _ExtensionSelector.IsBetterVersionOf_ selects _netstandard2.0_.

Microsoft [recommends](htt

[2020-12-27 14:42] ChrisMaddock commented on #76
Hi @NikolayPianikov - I'll need to have a look into what's going on here. Looking back at the pull requests from the time, turns out the original implementation was only written to handle multiple version of the .NET Framework, which is why we're seeing these issues now. Sorry, I'd forgotten that as it was so long ago!

Thanks for filing the issues in the engine repo. Will take a look when I can.

[2020-12-27 15:54] ChrisMaddock commented on #76
Thinking about this - whilst the engine logic isn't exactly right here, the end result is correct. Between these two options, we'd expect the the engine to choose the .NET Standard 2.0 package. This issue here that .NET 4.6.2 doesn't quite support .NET Standard properly as Microsoft says it does - do you agree? I presume including the [NETStandard.Library](https://www.nuget.org/packages/NETStandar

[2020-12-27 15:57] ChrisMaddock commented on #76
cc @CharliePoole - this discussion is very relevant to our emails earlier today. ☝️

[2020-12-28 01:17] CharliePoole commented on #76
Seems like I have to test extensions under multiple versions of the framework as well!

[2020-12-28 01:21] CharliePoole commented on #76
@ChrisMaddock Shouldn't the extension service be checking compatibility against the target runtime of the engine rather than the execution runtime?

[2020-12-28 09:44] NikolayPianikov commented on #76
_Going back to the problem in have - Nickolay, am I right that the behaviour you want is for the net20 to be used on all .NET Framework platforms, and the netstandard20 build on .NET Core? And you're not looking to support any other .NET Standard platforms at this point in time? (e.g. Xamarin, UWP)_

@ChrisMaddock yes I supposed it

_In that case, maybe it would be better to have the two version o

[2020-12-28 22:17] ChrisMaddock commented on #76
I think just one netcore version would be enough? An engine running on .NET Core 3.1 should just load the netcoreapp21 version of the extension.

[2020-12-28 22:18] ChrisMaddock commented on #76
@CharliePoole - not sure I understand your last question, sorry?

[2021-02-25 12:28] vyacheslav-skvortsov opened #77 "1.0.8 version"
Could you publish new nuget version 1.0.8 with netstandard 2.0 support?
I have .net5 project and I can not use 1.0.7 with them. I`ve build locally you master and it works fine.

[2021-04-20 13:24] smibe opened #78 "NunitLite does not support option --labels BeforeAndAfter."

[2022-08-26 16:17] zelins opened #81 "NUnitLite does not notify teamcity about failed tests on OneTimeSetup failure"
Hi Nunit community!

Seems that there is a bug in NUnitLite runner (AutoRun class)

On our project we currently have 27 tests (2 are ignored), 14 of them are dependent on OneTimeSetUp method.
When OneTimeSetup method throws an unhandled exception then 14 tests are just skipped and team city step passes successfully despite of these 14 failed tests. It just shows that 11 tests passed
![image](https